/*==================== GOOGLE FONTS ====================*/

@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600&display=swap');
body {
    font-family: "Poppins", Verdana, sans-serif;
    color: #1a1a1a;
    position: relative;
}

body {
    margin: 0;
    font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Helvetica Neue, Arial, Noto Sans, sans-serif;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    color: #333;
    background-color: #fff;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

body {
    margin: 0;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", "Liberation Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    color: #212529;
    text-align: left;
    background-color: #fff;
}


/*==================== Navbar ====================*/

.above-header {
    background-color: #E5E5E5;
    height: 30px;
}

.row {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    margin-right: -15px;
    margin-left: -15px;
}

div {
    display: block;
}

.col-12 {
    -ms-flex: 0 0 100%;
    flex: 0 0 100%;
    max-width: 100%;
}

.col,
.col-1,
.col-10,
.col-11,
.col-12,
.col-2,
.col-3,
.col-4,
.col-5,
.col-6,
.col-7,
.col-8,
.col-9,
.col-auto,
.col-lg,
.col-lg-1,
.col-lg-10,
.col-lg-11,
.col-lg-12,
.col-lg-2,
.col-lg-3,
.col-lg-4,
.col-lg-5,
.col-lg-6,
.col-lg-7,
.col-lg-8,
.col-lg-9,
.col-lg-auto,
.col-md,
.col-md-1,
.col-md-10,
.col-md-11,
.col-md-12,
.col-md-2,
.col-md-3,
.col-md-4,
.col-md-5,
.col-md-6,
.col-md-7,
.col-md-8,
.col-md-9,
.col-md-auto,
.col-sm,
.col-sm-1,
.col-sm-10,
.col-sm-11,
.col-sm-12,
.col-sm-2,
.col-sm-3,
.col-sm-4,
.col-sm-5,
.col-sm-6,
.col-sm-7,
.col-sm-8,
.col-sm-9,
.col-sm-auto,
.col-xl,
.col-xl-1,
.col-xl-10,
.col-xl-11,
.col-xl-12,
.col-xl-2,
.col-xl-3,
.col-xl-4,
.col-xl-5,
.col-xl-6,
.col-xl-7,
.col-xl-8,
.col-xl-9,
.col-xl-auto {
    position: relative;
    width: 100%;
    padding-right: 15px;
    padding-left: 15px;
}

.above-header .above-header-content {
    display: flex;
    flex-flow: row wrap;
    justify-content: flex-end;
}

.above-header .above-header-content .social ul {
    list-style: none;
    padding: 0;
    display: flex;
    flex-flow: row nowrap;
}

dd,
dl,
dt,
li,
ol,
ul {
    margin-top: 0;
    margin-bottom: 0;
    border: 0;
    outline: 0;
    font-size: 100%;
    vertical-align: baseline;
    background: transparent;
}

dl,
ol,
ul {
    margin-top: 0;
    margin-bottom: 1rem;
}

.above-header .above-header-content .social ul li a {
    color: #626262;
    padding: 0 7px;
}

a,
a:hover {
    color: orange;
    text-decoration: none;
}

a {
    background-color: transparent;
    text-decoration: none;
    color: #c36;
}

a {
    color: #007bff;
    text-decoration: none;
    background-color: transparent;
}

.above-header .above-header-content .lang .wpml-ls-legacy-dropdown a {
    background-color: transparent;
    border: none;
}

.wpml-ls-legacy-dropdown a.wpml-ls-item-toggle {
    position: relative;
    padding-right: calc(10px + 1.4em);
}

.wpml-ls-legacy-dropdown a {
    display: block;
    text-decoration: none;
    color: #444;
    border: 1px solid #cdcdcd;
    background-color: #fff;
    padding: 5px 10px;
    line-height: 1;
}

a,
a:hover {
    color: orange;
    text-decoration: none;
}

a {
    background-color: transparent;
    text-decoration: none;
    color: #c36;
}

a {
    color: #007bff;
    text-decoration: none;
    background-color: transparent;
}

a:-webkit-any-link {
    color: -webkit-link;
    cursor: pointer;
    text-decoration: underline;
}

.wpml-ls-legacy-dropdown .wpml-ls-item {
    padding: 0;
    margin: 0;
    list-style-type: none;
}

dd,
dl,
dt,
li,
ol,
ul {
    margin-top: 0;
    margin-bottom: 0;
    border: 0;
    outline: 0;
    font-size: 100%;
    vertical-align: baseline;
    background: transparent;
}

user agent stylesheet li {
    text-align: -webkit-match-parent;
}

.wpml-ls-legacy-dropdown>ul {
    position: relative;
    padding: 0;
    margin: 0!important;
    list-style-type: none;
}

user agent stylesheet ul {
    list-style-type: disc;
}

.wpml-ls-legacy-dropdown .wpml-ls-flag {
    display: inline;
    vertical-align: middle;
}

img {
    border-style: none;
    height: auto;
    max-width: 100%;
}

img {
    vertical-align: middle;
    border-style: none;
}

.wpml-ls-legacy-dropdown a {
    display: block;
    text-decoration: none;
    color: #444;
    border: 1px solid #cdcdcd;
    background-color: #fff;
    padding: 5px 10px;
    line-height: 1;
}

a,
a:hover {
    color: orange;
    text-decoration: none;
}

a {
    background-color: transparent;
    text-decoration: none;
    color: #c36;
}

a {
    color: #007bff;
    text-decoration: none;
    background-color: transparent;
}

user agent stylesheet a:-webkit-any-link {
    color: -webkit-link;
    cursor: pointer;
}

.wpml-ls-legacy-dropdown .wpml-ls-item {
    padding: 0;
    margin: 0;
    list-style-type: none;
}

dd,
dl,
dt,
li,
ol,
ul {
    margin-top: 0;
    margin-bottom: 0;
    border: 0;
    outline: 0;
    font-size: 100%;
    vertical-align: baseline;
    background: transparent;
}

.wpml-ls-legacy-dropdown>ul {
    position: relative;
    padding: 0;
    margin: 0!important;
    list-style-type: none;
}

.wpml-ls-legacy-dropdown a.wpml-ls-item-toggle:after {
    content: "";
    vertical-align: middle;
    display: inline-block;
    border: .35em solid transparent;
    border-top: .5em solid;
    position: absolute;
    right: 10px;
    top: calc(50% - .175em);
}

*,
:after,
:before {
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

*,
::after,
::before {
    box-sizing: border-box;
}

.container_header {
    width: 930px;
    background-color: white;
    margin: auto;
    padding: 16px;
}

.header {
    background-color: #DB292F;
    border-radius: 25px 25px 0 0;
    margin-top: 25px;
    padding: 15px;
    color: white;
    -webkit-box-shadow: 0 -6px 9px 0 rgb(50 50 50 / 48%);
    -moz-box-shadow: 0 -6px 9px 0 rgba(50, 50, 50, .48);
    box-shadow: 0 -6px 9px 0 rgb(50 50 50 / 48%);
}

table {
    width: 100%;
}

h1 {
    font-size: 20px;
}

input {
    opacity: .7;
    border-radius: 13px;
    color: #fff;
    background-color: #e56266;
}

input[type=date],
input[type=email],
input[type=number],
input[type=password],
input[type=search],
input[type=tel],
input[type=text],
input[type=url],
select,
textarea {
    width: 100%;
    border: 1px solid #666;
    border-radius: 20px;
    padding: .5rem 1rem;
    -webkit-transition: all .3s;
    -o-transition: all .3s;
    color: white;
    transition: all .3s;
}

::placeholder {
    color: #fff;
}

.tittle_hed {
    color: white;
}

img.satu {
    border-radius: 0 0 25px 25px;
}

.container_two {
    box-shadow: 0 -6px 9px 0 rgb(50 50 50 / 48%);
    width: 900px;
    background-color: white;
    margin: auto;
    padding: 16px;
    border-radius: 20px;
    justify-content: space-between;
}

.hr_con {
    color: transparent;
    width: 900px;
    margin: auto;
    padding: 16px;
}

hr.col {
    border-top: 2px solid whitesmoke;
}

.knpharus {
    box-shadow: 0 -6px 9px 0 rgb(50 50 50 / 48%);
    width: 900px;
    background-color: rgb(209, 209, 209);
    margin: auto;
    padding: 16px;
    border-radius: 20px;
    justify-content: space-evenly;
}

.knpharus h2 {
    color: #333;
    font-size: 18px;
    font-weight: 500;
}

.knpharus h3 {
    color: #333;
    font-size: 18px;
    font-weight: 700;
}

.knphrstwo {
    box-shadow: 0 -6px 9px 0 rgb(50 50 50 / 48%);
    width: 900px;
    background-color: rgb(255, 255, 255);
    margin: auto;
    padding: 16px;
    border-radius: 20px;
    justify-content: space-evenly;
}

.container_testi {
    box-shadow: 0 -6px 9px 0 rgb(50 50 50 / 48%);
    width: 900px;
    background-color: #DB292F;
    margin: auto;
    padding: 16px;
    border-radius: 20px;
    justify-content: space-evenly;
}

.testimoni {
    background-color: #DB292F;
    text-align: left;
    margin-top: 20px;
    padding-top: 12px;
    padding-bottom: 12px;
    padding-right: 12px;
    padding-left: 12px;
    color: white;
}

.tittle_testi {
    text-align: center;
}

.testi {
    text-align: center;
    color: #fff;
}

.opini_h {
    text-align: left;
    color: white;
}

.berita {
    box-shadow: 0 -6px 9px 0 rgb(50 50 50 / 48%);
    width: 900px;
    background-color: #fff;
    margin: auto;
    padding: 16px;
    border-radius: 20px;
    justify-content: space-evenly;
}

.acara {
    box-shadow: 0 -6px 9px 0 rgb(50 50 50 / 48%);
    width: 900px;
    background-color: #fff;
    margin: auto;
    padding: 16px;
    border-radius: 20px;
    justify-content: space-evenly;
}

.tv {
    box-shadow: 0 -6px 9px 0 rgb(50 50 50 / 48%);
    width: 900px;
    background-color: #fff;
    margin: auto;
    padding: 16px;
    border-radius: 20px;
    justify-content: space-evenly;
}

.kerjasama {
    box-shadow: 0 -6px 9px 0 rgb(50 50 50 / 48%);
    width: 900px;
    background-color: #fff;
    margin: auto;
    padding: 16px;
    border-radius: 20px;
    justify-content: space-evenly;
}

.section-social-media {
    background-color: #Bd2429;
    padding: 40px;
}

.section-social-media .social-media-text h3 {
    color: #fff;
    font-family: "PoppinsBold";
    text-transform: uppercase;
    font-size: 2.5rem;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    margin: 0;
}

h3 {
    font-size: 1.75rem;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    margin-top: .5rem;
    margin-bottom: 1rem;
    font-family: inherit;
    font-weight: 500;
    line-height: 1.2;
    color: inherit;
}

.h3,
h3 {
    font-size: 1.75rem;
}

.h1,
.h2,
.h3,
.h4,
.h5,
.h6,
h1,
h2,
h3,
h4,
h5,
h6 {
    margin-bottom: .5rem;
    font-weight: 500;
    line-height: 1.2;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    margin-top: 0;
    margin-bottom: .5rem;
}

.section-social-media .social-media-text p {
    color: #fff;
}

p {
    margin-top: 0;
    margin-bottom: .9rem;
}

p {
    margin-top: 0;
    margin-bottom: 1rem;
}

.section-social-media .social-media-link .social-media-name {
    display: flex;
    flex-flow: row nowrap;
    text-transform: capitalize;
    font-size: 1.3rem;
    font-family: "PoppinsBold";
    margin-bottom: 7px;
    align-items: center;
}

.section-social-media .social-media-link {
    color: #fff;
    margin-bottom: 20px;
    display: block;
}

.col-6 {
    -ms-flex: 0 0 50%;
    flex: 0 0 50%;
    max-width: 50%;
}

footer {
    background-color: #DB292F;
    padding: 60px 0 0;
    color: #fff;
}

footer .footer-left .subtitle span {
    font-size: .8rem;
}

footer .section-title {
    font-size: 1rem;
    font-family: "PoppinsSemiBold";
    margin-bottom: 10px;
}

element.style {
    z-index: 3;
    position: absolute;
    height: 100%;
    width: 100%;
    padding: 0px;
    border-width: 0px;
    margin: 0px;
    left: 0px;
    top: 0px;
    touch-action: pan-x pan-y;
}

footer .footer-left .contact-list li {
    display: flex;
    flex-flow: row nowrap;
    justify-content: start;
    font-size: .7rem;
}

footer li {
    list-style: none;
}

img {
    border-style: none;
    height: auto;
    max-width: 100%;
}

img {
    vertical-align: middle;
    border-style: none;
}

footer .footer-left .subtitle span {
    font-size: .8rem;
}

.row {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    margin-right: -15px;
    margin-left: -15px;
}

.container,
.container-lg,
.container-md,
.container-sm {
    max-width: 960px;
}

footer a {
    color: #fff;
}

a,
a:hover {
    color: orange;
    text-decoration: none;
}

a {
    background-color: transparent;
    text-decoration: none;
    color: #c36;
}

a {
    color: #007bff;
    text-decoration: none;
    background-color: transparent;
}

footer .section-about-us p {
    font-size: .8rem;
}